<nestedMgmApp>
    <div>
        <ul class="list-unstyled">
            <li
                    ng-repeat="pattern in indexPatternList | orderBy:['-default','title'] track by pattern.id"
                    class="sidebar-item"
            >
                <a href="{{::pattern.url}}">
                    <div class="{{::pattern.class}}">
                        <i aria-hidden="true" ng-if="pattern.default" class="fa fa-star"></i>
                        <span ng-bind="::pattern.title"></span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nestedMgmApp>